@font-face {
    font-family: 'wireframe';
    src: url('../fonts/wireframe.ttf');
    font-weight:300;
}

* {
	font-family: 'Pontano Sans', sans-serif;
}

h1, h2 {
	font-size: 13px;
	letter-spacing: 4px;
	font-weight: 900;
	text-align: center;
}

h2 {
	letter-spacing: 2px;
	padding-top: 12px;
}

.justin, .jams {
font-family: 'wireframe';
font-weight: 300;
letter-spacing: 0px;
}

.justin {
font-size: 91px;
line-height: 58px;
}

.jams {
font-size: 119px;
line-height: 80px;
}

#me {
width: 300px;
border: 1px solid MediumSpringGreen;
border-radius: 100%;
margin: 23px auto 25px;
display: block;
-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
}

#brand {
background: white;
margin: 10px auto 0 auto;
border: 1px solid Mediumspringgreen;
border-left: 0;
border-right: 0;
width: 300px;
-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.9);
-moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.9);
box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.9);
}

#brand .inner {
	box-shadow: inset 0px 0px 108px -55px rgba(0,0,0,0.9);
}

#reel {
width: 300px;
margin: 196px auto 0 auto;
background-image: url('../img/subtle_dots.png');
}

.rug {
	width: 100%;
	position: fixed;
	background: white;
	height: 44px;
}

header {
position: fixed;
left: 0;
right: 0;
}

header > .inner {
	margin: 0 auto;
}

i.br-icon {
display: block;
text-align: center;
color: #555;
text-shadow: 1px 1px 1px mediumspringgreen, -1px -1px 1px mediumspringgreen, 0px 0px 6px #333;
font-size: 24px;

}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

p {
margin: 0 10px 10px;
text-align: center;
}

body {
}

a {
color: mediumspringgreen;
font-weight: 900;
}
a:hover {
color: mediumspringgreen;
}